@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

body {
  background-color: rgb(224, 207, 255);
}

a {
  text-decoration: none;
  color: black;
}

header {
  border-bottom: 1px solid #c8c8c8;
  position: relative;
  background-color: white;
  height: 70px;
}

.inner {
  display: flex;
  width: 100%;
  padding: 0 20px;
}

img {
  width: 130px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.header__menu {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  left: 150px;
}

.header__menu li {
  width: 70px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0 8px;
  margin: 0 5px;
  color: black;
  font-size: 15px;
}

.header__menu li:hover {
  background-color: rgb(249, 247, 247);
  border-radius: 5px;
}

.header__menu i {
  font-size: 11px;
  margin: 0 5px;
  transition-duration: 0.2s;
}

.header__menu i:hover {
  transform: rotate(180deg);
}

.header__btn {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 40px;
  right: 40px;
}

.header__btn__login {
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.header__btn__login:hover {
  text-decoration: underline;
}

.header__btn__question {
  background-color: #34383c;
  color: white;
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

.header__btn__question:hover {
  background-color: #4a5055;
  cursor: pointer;
}

.toggle__service {
  opacity: 0;
  width: 100%;
  height: 500px;
  background-color: white;
}

.toggle__service.on {
  opacity: 1;
}

.service__content {
  padding-top: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}

.content__list {
  display: flex;
}

.content__list > div {
  width: 200px;
}

.toggle__elice {
  position: absolute;
  top: 71px;
  opacity: 0;
  width: 100%;
  height: 500px;
  background-color: white;
}

.toggle__elice.on {
  opacity: 1;
}
